# Created by http://gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

Gemfile.lock

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

# don't include middleman build
build
