<section class="content_wrapper">
  <div class="zen-box section-header">
    <h2><%= t(:section_credits) %></h2>
  </div>
  <div class="two-col-1 zen-box">
    <p><strong>© Copyright</strong><br><strong>Torggler Chimica Spa</strong></p>
    <p>Via Prati Nuovi, 9<br>39020 Marlengo (BZ)<br>Alto Adige - Italia</p>
    <p>Tel. +39 0473 282500<br>Fax +39 0473 282501</p>
    <p><a href="mailto:info@torggler.com">info@torggler.com</a><br><a href="http://www.torggler.com">http://www.torggler.com</a></p>
    <p>Part. IVA IT00851700211</p>
  </div>
  <div class="two-col-2 zen-box">
    <p><strong>© Design, sviluppo e hosting</strong><br><strong>booncon oy</strong></p>
    <p>Iso Roobertinkatu 44 LH 1,<br>00120 Helsinki,<br>Finlandia</p>
    <p>Tel. +358 45 8980609</p>
    <p><a href="mailto:pixels@booncon.com">pixels@booncon.com</a><br><a href="http://pixels.booncon.com">http://pixels.booncon.com</a></p>
    <p>Part. IVA FI24323170</p>
  </div>
</section>
<section class="content_wrapper">
  <div class="zen-box">
    PASTE HERE
  </div>
</section>
